{#
  Site name is used to construct dynamic page title. DynamicTwigPage sets
  `pageName` variable that is inferred from current route or child class name.
  This variable is used to construct a simple dynamic `Mypage - My Website`
  title. Plain `My Website` is displayed for index.
#}
{% set siteName = "My Website" %}

{% set title = pageName and pageName != "index"
  ? (pageName|capitalize) ~ " - " ~ siteName
  : siteName
%}

{% set lang = "en" %}

<!DOCTYPE html>
<html class="no-js" lang="{{ lang }}">
  <head>
    {% block head %}
      {# Remove no-js to prevent FOUC. https://www.paulirish.com/2009/avoiding-the-fouc-v3/ #}
      <script>
        (function (H) {H.className = H.className.replace(/\bno-js\b/,
        'js')})(document.documentElement)
      </script>

      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="{{ metaDescription }}" />

      <title>
        {{ globals.title|default(title) }}
      </title>

      {% include "public/layouts/partials/_favicons.twig" %}

      {{ viteAsset("src-www/css/style.css") }}
      {{ viteAsset("src-www/js/main.ts") }}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <div class="container">
        {% block header %}
          {% include "public/layouts/partials/_header.twig" %}
        {% endblock %}

        {% block content %}

        {% endblock %}

        {% block footer %}
          {% include "public/layouts/partials/_footer.twig" %}
        {% endblock %}
      </div>
    {% endblock %}
  </body>
</html>
